@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: "Open Sauce Two" !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.btn-primary {
  background-color: #0f0f0f;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.btn-primary.lg {
  background-color: #0f0f0f;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.btn-primary:hover {
  background-color: #282828;
  transition: 0.3s all ease-in-out;
}

.btn-secondary {
  border: 1px solid #282828;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.btn-secondary:hover {
  border: 1px solid #0f0f0f;
  transition: 0.3s all ease-in-out;
}

.hover-card-body {
  padding: 0;
  background-color: transparent;
  border: none;
}

.hover-card-target {
  border-bottom: 1px solid #b7b7b7;
  width: 500px;
}

.btn-banner {
  height: 100px;
  width: 100px;
  pointer-events: none;
}

.filter-select input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #7e7e7e;
}

.filter-search input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #7e7e7e;
}

.breadcrumb-link {
  font-size: 16px;
  font-weight: 400;
  color: #7e7e7e;
}

.mantine-Breadcrumbs-separator {
  margin: 0 6px;
}

.video-modal .mantine-Modal-header {
  display: none;
}

.video-modal .mantine-Modal-body {
  padding: 0;
}

.Section {
  padding: 60px 0;
}

.Section.hasGreyBg {
  background-color: #f3f3f3;
}

.Section.hasTexture {
  background-image: url(../../public/section-texture.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .Section {
    padding: 30px 0;
  }
}

.LoaderContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
